<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
		
	<section class="layout-content" layout:fragment="corpo">	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- <div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							style="background-color: #CD853F;"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Dúvidas Frequentes</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							style="background-color: #CD853F;"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Cadastrar Departamento
							</a> <a class="list-group-item list-group-item-action"
							style="background-color: #CD853F;"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">Cadastrar Cargo</a> <a
							class="list-group-item list-group-item-action"
							style="background-color: #CD853F;"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">Cadastrar Funcionário</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							
							Aqui listamos as prencipais dúvidas referentes ao gerenciamento de cadastros.
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							Atenção ao cadastrar novos departamentos. É recomendado que verifique
							antes se o mesmo departamento já foi cadastrado.
						</div>
						<div class="tab-pane fade" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							Durante o cadastro de novos cargos, é obrigatório selecionar o departamento referente.
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							Preencha corretamente todos os campos obrigatórios.
						</div>
						
					</div>
				</div>
			</div>
		</div> -->
		
	</section>		
</body>
</html>